/* 滑鼠移動至頂部列選項時的變色效果 */
.ts-tab .item:hover {
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* 調整嵌入式地圖為自適應大小 */
.map-container {
    width: 100%;
    height: 350px;
    border: 1px solid black;
}

/* 移除超連結所產生的底線 */
.no-underline {
    text-decoration: none;
}

/* 使文字可以左右對齊 */
.justify-text {
    text-align: justify;
}

/* 文字過多時使其溢出 */
.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}