/* 滑鼠移動至頂部列選項時的變色效果 */
.ts-tab .item:hover {
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* 移除超連結所產生的底線 */
.no-underline {
    text-decoration: none;
}

/* 使文字可以左右對齊 */
.justify-text {
    text-align: justify;
}